.Timeline {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 1rem;

  .line {
    height: 100%;
    width: 2px;
    background-color: black;
    position: absolute;
    left: calc(50% - 1px);
    z-index: 0;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item {
      display: grid;
      grid-template-columns: 1fr 14px 1fr;
      gap: 1.25rem;
      position: relative;
      z-index: 1;
      align-items: center;

      .dot {
        border-radius: 50%;
        background-color: black;
        width: 14px;
        height: 14px;
        border: 3px solid white
      }

      p {
        margin: 0;
      }

      .time {
        font-weight: 500;
        text-align: right;
      }

      .text {
        text-align: left;
      }
    }
  }
}